{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.

{deps, [
    tunctl,
    jiffy,
    {cowboy, "2.12.0"}
]}.

{relx, [
    {release, {vpn, "0.1.0"}, [vpn]},
    {dev_mode, true},
    {include_erts, false},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"}
]}.

{shell, [
    {config, "config/sys.config"}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.
