[
  {kernel, [
    {logger_level, warning},
    {logger, [
      {handler, default, logger_std_h,
        #{level => info}},
      {handler, vpn_file, logger_std_h,
        #{
          level => info,
          config => #{file => "log/vpn.log"}
        }}
    ]}
  ]},

  {n2o, [
    {cx, {vpn_n2o_admin, cx}},
    {protocols, [nitro_n2o, n2o_heart]}
  ]},

  {vpn, [
    {http_port, 8080},
    {runtime_config_resolver, static_template},
    {dynamic_identity_factory, #{
      mode => development,
      root_dir => "local/dynamic",
      ca_dir => "local/ca",
      tool_path => "tools/ensure-dynamic-identity.sh",
      command_module => vpn_dynamic_identity_command
    }},
    {dynamic_runtime_config_defaults, #{
      common => #{
        peer_module => vpn_peer,
        mode => tun,
        handshake_mode => certificate_control,
        authorization_mode => development_bypass,
        authorized => true,
        authorization_reason => dynamic_development_identity,
        previous_epoch_grace_ms => 15000,
        debug_replay_controls => true,
        auto_rekey_after_seconds => 30,
        auto_rekey_after_packets => 10,
        auto_rekey_check_interval_ms => 500,
        auto_rekey_failure_cooldown_ms => 3000,
        auto_rekey_jitter_ms => 1000
      },
      client => #{name => <<"Dynamic client">>},
      gateway => #{name => <<"Dynamic gateway">>}
    }},
    {runtime_config_templates, #{
      client_a => #{
        id => ias_template_client_a,
        peer_module => vpn_peer,
        ovpn_path => "local/debug/client_a.ovpn",
        ifname => <<"tun10">>,
        ip => "10.20.30.1",
        local_udp_port => 5560,
        remote_peer_id => peer_b,
        authorization_mode => development_bypass,
        handshake_mode => certificate_control,
        previous_epoch_grace_ms => 15000,
        debug_replay_controls => true,
        auto_rekey_after_seconds => 30,
        auto_rekey_after_packets => 10,
        auto_rekey_check_interval_ms => 500,
        auto_rekey_failure_cooldown_ms => 3000,
        auto_rekey_jitter_ms => 1000,
        handshake_remote_ca_certificate_path => "priv/certs/ca.crt"
      },
      client_b => #{
        id => ias_template_client_b,
        peer_module => vpn_peer,
        ovpn_path => "local/debug/client_b.ovpn",
        ifname => <<"tun12">>,
        ip => "10.20.30.2",
        local_udp_port => 5562,
        remote_peer_id => peer_c,
        authorization_mode => development_bypass,
        handshake_mode => certificate_control,
        previous_epoch_grace_ms => 15000,
        debug_replay_controls => true,
        auto_rekey_after_seconds => 30,
        auto_rekey_after_packets => 10,
        auto_rekey_check_interval_ms => 500,
        auto_rekey_failure_cooldown_ms => 3000,
        auto_rekey_jitter_ms => 1000,
        handshake_remote_ca_certificate_path => "local/ca/ca.crt"
      }
    }},

    {ovpn_sessions, [
      #{
        id => client_a,
        name => <<"Debug Client A">>,
        ovpn_path => "local/debug/client_a.ovpn",
        ifname => <<"tun10">>,
        ip => "10.20.30.1",
        local_udp_port => 5560,
        remote_peer_id => peer_b,
        authorization_mode => development_bypass,
        handshake_mode => certificate_control,
        previous_epoch_grace_ms => 15000,
        debug_replay_controls => true,
        auto_rekey_after_seconds => 30,
        auto_rekey_after_packets => 10,
        auto_rekey_check_interval_ms => 500,
        auto_rekey_failure_cooldown_ms => 3000,
        auto_rekey_jitter_ms => 1000,
        handshake_remote_ca_certificate_path => "priv/certs/ca.crt"
      },
      #{
        id => client_b,
        name => <<"Debug Client B">>,
        ovpn_path => "local/debug/client_b.ovpn",
        ifname => <<"tun12">>,
        ip => "10.20.30.2",
        local_udp_port => 5562,
        remote_peer_id => peer_c,
        authorization_mode => development_bypass,
        handshake_mode => certificate_control,
        previous_epoch_grace_ms => 15000,
        debug_replay_controls => true,
        auto_rekey_after_seconds => 30,
        auto_rekey_after_packets => 10,
        auto_rekey_check_interval_ms => 500,
        auto_rekey_failure_cooldown_ms => 3000,
        auto_rekey_jitter_ms => 1000,
        handshake_remote_ca_certificate_path => "local/ca/ca.crt"
      }
    ]},

    {peers, [
      #{
        id => peer_b,
        name => <<"Debug Peer B">>,
        remote_peer_id => client_a,
        handshake_mode => certificate_control,
        previous_epoch_grace_ms => 15000,
        debug_replay_controls => true,
        handshake_remote_ca_certificate_path => "local/ca/ca.crt",
        mode => tun,
        ifname => <<"tun1">>,
        ip => "10.20.20.2",
        local_udp_port => 5556,
        remote_ip => {127,0,0,1},
        remote_udp_port => 5560,
        certificate_path => "priv/certs/peer_b.crt",
        private_key_path => "priv/certs/peer_b.key",
        ca_certificate_path => "priv/certs/ca.crt"
      },
      #{
        id => peer_c,
        name => <<"Debug Peer C">>,
        remote_peer_id => client_b,
        handshake_mode => certificate_control,
        previous_epoch_grace_ms => 15000,
        debug_replay_controls => true,
        handshake_remote_ca_certificate_path => "local/ca/ca.crt",
        mode => tun,
        ifname => <<"tun2">>,
        ip => "10.20.20.3",
        local_udp_port => 5557,
        remote_ip => {127,0,0,1},
        remote_udp_port => 5562,
        certificate_path => "local/debug/certs/peer_c.crt",
        private_key_path => "local/debug/keys/peer_c.key",
        ca_certificate_path => "local/ca/ca.crt"
      }
    ]}
  ]}
].
