[
  {kernel, [
    {logger_level, warning},
    {logger, [
      {handler, default, logger_std_h,
        #{level => info}},
      {handler, vpn_file, logger_std_h,
        #{
          level => info,
          config => #{file => "log/vpn.log"}
        }}
    ]}
  ]},

  {n2o, [
    {cx, {vpn_n2o_admin, cx}},
    {protocols, [nitro_n2o, n2o_heart]}
  ]},

  {vpn, [
    {http_port, 8080},

    {ovpn_sessions, [
      #{
        id => client_a,
        name => <<"Debug Client A">>,
        ovpn_path => "local/debug/client_a.ovpn",
        ifname => <<"tun10">>,
        ip => "10.20.30.1",
        local_udp_port => 5560,
        remote_peer_id => peer_b,
        authorization_mode => development_bypass,
        handshake_mode => certificate_control,
        previous_epoch_grace_ms => 15000,
        debug_replay_controls => true,
        auto_rekey_after_seconds => 30,
        auto_rekey_after_packets => 10,
        auto_rekey_check_interval_ms => 500,
        auto_rekey_failure_cooldown_ms => 3000,
        auto_rekey_jitter_ms => 1000,
        handshake_remote_ca_certificate_path => "priv/certs/ca.crt"
      }
    ]},

    {peers, [
      #{
        id => peer_b,
        name => <<"Debug Peer B">>,
        remote_peer_id => client_a,
        handshake_mode => certificate_control,
        previous_epoch_grace_ms => 15000,
        debug_replay_controls => true,
        handshake_remote_ca_certificate_path => "local/ca/ca.crt",
        mode => tun,
        ifname => <<"tun1">>,
        ip => "10.20.20.2",
        local_udp_port => 5556,
        remote_ip => {127,0,0,1},
        remote_udp_port => 5560,
        certificate_path => "priv/certs/peer_b.crt",
        private_key_path => "priv/certs/peer_b.key",
        ca_certificate_path => "priv/certs/ca.crt"
      }
    ]}
  ]}
].
