[
  {kernel, [
    {logger_level, info}
  ]},

  {vpn, [
    {http_port, 8080},

    {peers, [
      #{
        id => peer_a,
        name => <<"Peer A">>,
        remote_peer_id => peer_b,
        psk => <<"0123456789abcdef0123456789abcdef">>,
        mode => tun,
        ifname => <<"tun0">>,
        ip => "10.20.20.1",
        local_udp_port => 5555,
        remote_ip => {127,0,0,1},
        remote_udp_port => 5556,
        certificate_path => "priv/certs/peer_a.crt",
        private_key_path => "priv/certs/peer_a.key",
        ca_certificate_path => "priv/certs/ca.crt"
      },

      #{
        id => peer_b,
        remote_peer_id => peer_a,
        psk => <<"0123456789abcdef0123456789abcdef">>,
        mode => tun,
        ifname => <<"tun1">>,
        ip => "10.20.20.2",
        local_udp_port => 5556,
        remote_ip => {127,0,0,1},
        remote_udp_port => 5555,
        certificate_path => "priv/certs/peer_b.crt",
        private_key_path => "priv/certs/peer_b.key",
        ca_certificate_path => "priv/certs/ca.crt"
      }
    ]}
  ]}
].
